# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all doc,logfiles and tempfiles.
/log/*.log
/tmp
*~
*.swp
*.swo
/doc
#Ignoring Neo4j folder in local from being commited
#Instead user should do rake neo4j:install for their own copy of neo4j on local box
/neo4j
