<h2>Beamers in Socialbeam</h2>
<div>	
		<% all_connections.each do |beamer| %>
		    <% unless beamer==current_user %>
				<%= link_to user_path(beamer.beamer_id) do %>
				<%= "#{beamer.first_name} #{beamer.last_name}" %> <b><%= link_to 'Send Friend Request', friend_request_path(:beamer_id => beamer.beamer_id) %></b>
				</br>
				<% end %>
			<% end %>	
		<% end %>
</div>