<h2>Friend Requests Sent(pending to be accepted)</h2>
<div>	
	<% unless sent_requests.count == 0 %>
		<% sent_requests.each do |request| %>
			<%= link_to user_path(request.friend.beamer_id) do %>
				<%= "#{request.friend.first_name} #{request.friend.last_name}" %>
			<% end %>	
		<% end %>
	<% end %>
</div>