<h2>Friend Requests</h2>
<div>	
	<% unless confirm_requests.count == 0 %>
		<% confirm_requests.each do |request| %>
			<%= link_to user_path(request.user.beamer_id) do %>
				<%= "#{request.user.first_name} #{request.user.last_name}" %>
				<b> 
				<%= link_to 'Reject',reject_friend_request_path(:friend_beamer_id => current_user.beamer_id, :beamer_id => request.user.beamer_id), :method => :delete %>
			   </b>
			<% end %>	
		<% end %>
	<% else %>
		You have got no friend requests.
	<% end %>
</div>