<h1>All Beamers in Socialbeam</h1>
<div>	
		<% all_connections.each do |beamer| %>
			<%= link_to user_path(beamer.beamer_id) do %>
				<%= "#{beamer.first_name} #{beamer.last_name}" %>
			</br>
			<% end %>	
		<% end %>
</div>