<h1>followers</h1>
<div>	
	<% unless followers.size == 0 %>
		<% followers.each do |follower| %>
			<%= link_to user_path(follower.user.beamer_id) do %>
				<%= "#{follower.user.first_name} #{follower.user.last_name}" %>
			<% end %>	
		<% end %>
	<% else %>
		No Followers Yet
	<% end %>
</div>